/* The Basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--almostWhite);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

main {
  margin-bottom: 3em;
  text-align: center;
}

main section {
  padding: 2em 1em;
}

main h2 {
  margin-bottom: 1em;
}

/* FLASHCARDS */
.container {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.add-flashcard-con {
  display: flex;
  justify-content: center;
  padding: 1.2em 1em;
  margin-bottom: 2em;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.add-flashcard-con button {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--almostBlack);
  color: var(--almostWhite);
  padding: 15px 20px;
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  border-radius: 5px;
}

.question-container {
  width: 100%;
  max-width: 34em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0.5em 1.5em rgba(28, 0, 80, 0.15);
}

.question-container h2 {
  font-size: 28px;
  color: var(--almostBlack);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

#error {
  color: #ca4444;
  font-weight: 400;
}

#close-btn-flashcard {
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  background-color: #ca4444;
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--almostWhite);
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

#close-btn-flashcard:hover {
  background-color: #ca4444;
}

#close-btn-flashcard::before {
  content: "✕";
  font-size: 1.3em;
}

textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 2px solid #ccc;
  outline: none;
  color: var(--almostBlack);
  border-radius: 5px;
  resize: none;
}

textarea:focus {
  border-color: var(--almostBlack);
}

label {
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-weight: 500;
  color: var(--almostBlack);
}

#save-btn {
  font-size: 18px;
  background-color: var(--almostBlack);
  color: var(--almostWhite);
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 1em;
}

.card-list-container {
  display: grid;
  padding: 0.2em;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.1);
  padding: 1em;
  border-radius: 5px;
}

.question-div,
.answer-div {
  text-align: justify;
}

.question-div {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: var(--almostBlack);
}

.answer-div {
  margin-top: 1em;
  font-weight: 400;
  color: var(--almostBlack);
}

.show-hide-btn {
  display: block;
  background-color: var(--almostBlack);
  color: var(--almostWhite);
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 0.3em;
  margin-top: 0.5em;
}

.buttons-con {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin-top: 0.5em;
}

.edit,
.delete {
  background-color: transparent;
  padding: 0.5em;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
}

.edit {
  color: var(--almostBlack);
}

.delete {
  color: #ca4444;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.hide {
  display: none;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .card-list-container {
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  .card-list-container {
    grid-template-columns: 1fr;
  }
  
  .question-container {
    padding: 1.5em 1em;
  }
}
