
/* The Basics */

:root{
  --red: hsl(0, 85%, 71%);
  --lightRed: hsl(0, 100%, 80%);
  --pink: hsl(342, 93%, 89%);
  --green: hsl(87, 51%, 69%);
  --lightGreen: hsl(87, 71%, 84%);
  --lightOrange: hsl(39, 94%, 72%);
  --orange: hsl(39, 83%, 60%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);  
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --mediumBlue: hsl(215, 66%, 89%);
  --blue: hsl(216, 100%, 96%);
  --lightGray: hsl(0, 0%, 93%);
  --almostBlack: hsl(0, 0%, 8%);
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  ont-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: var(--almostBlack);
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--almostWhite);
  color: var(--black);
  font-size: 18px;
}

/* HEADER */


.start-btn{
  background-color: var(--almostWhite);
  border: none;
  cursor: pointer;
  color: var(--mediumGray);
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 12px 12px;
}
header{
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  margin: 16px 16px 24px;
  & .hamburger-menu{
    /*display: none;*/
    cursor: pointer;
  }
  & nav{
    display: none;
    color: var(--mediumGray);
    & .back{
      background-color: var(--almostWhite);
      opacity: 0.75;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 780px;
    }
    & .front{
      background-color: var(--almostWhite);
      width: 240px;
      position: absolute;
      right: 0;
      top: 0;
      height: 780px;
      padding: 20px;
    }
    & .close-img-container{
      text-align: right;
      cursor: pointer;
    }
    & li{
      list-style: none;
      cursor: pointer;
      margin-bottom: 26px;
      width: 110px;
      font-family: 'Poppins', sans-serif;
      & a{
        text-decoration: none;
        color: var(--mediumGray);
        &:hover{
          color: var(--almostBlack);
        }
      }
    }
    & .cursos-ul, .herramientas-ul{
      margin-left: 28px;
      display: none;
      font-family: 'Poppins', sans-serif;
    }
    & .submenu-btn{
      display: flex;
      justify-content: space-between;
      color: var(--mediumGray);
      background-color: var(--almostWhite);
      align-items: center;
      font-family: 'Poppins', sans-serif;
      border: none;
      font-size: 1rem;
      margin: 24px 0;
      width: 110px;
      height: 26px;
      cursor: pointer;
    }
  }
}


/* INTRO SECTION */

main{
  display: flex;
  flex-direction: column-reverse;
  & .hero-image{
    width: 100%;
    margin-bottom: 48px;
  }
  & h2{
    text-align: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;    
  }
  & p{
    line-height: 25px;
    color: var(--mediumGray);
    margin-bottom: 0 16px 24px;
    width: 350px;
    font-family: 'Poppins', sans-serif;
    margin: 40px auto;
    text-align: center;
    font-size: 1.125rem;
  }
  & .start-btn {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    font-family: 'Poppins', sans-serif;
    width: 250px;
    height: 50px;
    font-size: 1.125em;
    margin-bottom: 46px;
    align-content: center;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.1s ease;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      background-color: var(--almostWhite);
      color: var(--almostBlack);
      border-color: var(--almostBlack);
    }
  }
}


/* Media queries */

@media (min-width: 768px){
  header{
    align-items: center;
    & .hamburger-menu{
      display: none;
    }
    & nav{
      margin-left: 24px;
      display: block;
      width: 100%;
      height: 100%;
      & .back{
        display: none;
      }
      & .front{
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        justify-content: space-between;
        background-color: transparent;
      }
      & .close-img-container{
        display: none;
      }
      & ul{
        display: flex;
        align-items: center;
        width: 378px;
        justify-content: space-between;
      }
      & li{
        margin: 0;
      }
      & .submenu-btn{
        margin: 0;
        background-color: transparent;
      }
      & .cursos-ul, .herramientas-ul{
        width: 140px;
        height: 90px;
        top: 40px;
        position: absolute;
        background-color: var(--almostWhite);
        box-shadow: 0px 10px 40px rgba(0,0,0,0.15);
        border-radius: 10px;
        display: none;
        padding: 18px 24px;
        font-size: 0.875em;
        & li{
          margin-bottom: 16px;
        }
      }
      & .cursos-ul-container, .herramientas-ul-container{
        position: relative;
        
      }
      & .cursos-ul{
        left: -30px;
      }
      & #herramientasbtn, #cursosbtn{
        width: 115px;
      }
      & .herramientas-ul{
        left: -30px;
      }
    }
  }
  main{
    & h2{
      font-size: 2.625em;
    }
    & p{
      width: 600px;
      font-size: 1.125em;
      margin: 40px auto;
      text-align: center;
    }
    & .start-btn{
      font-size: 1.125em;
      margin-bottom: 46px;
      align-content: center;
    }
    & picture{
      width: 80%;
      margin: 24px auto;
    }
  }
}

@media (min-width: 1024px){
  header{
    margin: 21px 80px 67px;
    & nav{
      margin-left: 48px;
    }
  }
  main{
    margin: 0 160px 20px 150px;
    flex-direction: row;
    justify-content: space-between;
    & picture{
      width: 400px;
      margin: 0;
    }
    & h2{
      text-align: left;
      font-size: 3.2em;
      margin: 100px 0 40px;
      width: 450px;
    }
    & p{
      text-align: left;
      font-size: 1.125em;
      width: 445px;
      font-weight: 500px;
      padding: 0;
      margin-bottom: 0 0 25px;
    }
    & .start-btn{
      margin: 0 0 116px;
      
    }
  }
}




























  
/* FEATURES  */



.main-container{
  width: 325px; 
  margin: 87px auto 40px;
  border-radius: 8px;
  overflow: hidden;
}

.main-container article{
  width: 100%;
  height: 540px;
  padding: 48px;
}
#cursos{
  background-color: var(--red);
}
#desafios{
  background-color: var(--green);
}
#herramientas{
  background-color: var(--orange);
}
.main-container img{
  margin-bottom: 36px;
}
.main-container h2{
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.main-container p{
  color: var(--white);
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

/* Botones */

.double-btn {
  display: flex;
  width: 200px;
  height: 40px;
  margin: 20px auto; 
  border-radius: 18px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--red);
  background-color: var(--white);
  transition: all 0.3s ease;
}

.double-btn-h {
  display: flex;
  width: 200px;
  height: 40px;
  margin: 20px auto; 
  border-radius: 18px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--orange);
  background-color: var(--white);
  transition: all 0.3s ease;
}

.double-btn:hover, .double-btn-h {
  border-color: var(--white);
}

.double-btn .btn-left {
  border-right: 1px solid var(--red);
}

.double-btn-h .btn-left-h {
  border-right: 1px solid var(--orange);
}


.desafiosbtn {
  color: var(--green);
  }

.btn-left, .btn-right {
  flex: 1;
  background-color: var(--white);
  color: var(--red);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
.btn-left-h, .btn-right-h {
  flex: 1;
  background-color: var(--white);
  color: var(--orange);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--red);
  color: var(--white);
}

.btn-left-h:hover,
.btn-right-h:hover {
  background-color: var(--orange);
  color: var(--white);
}


.double-btn:hover, .double-btn-h:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#desafios-btn{
  width: 200px;
  height: 40px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75em;
  color: var(--green);
}
#herramientas-btn{
  width: 200px;
  height: 40px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--orange);
}

#desafios-btn:hover{
  cursor: pointer;
  border: 2px solid var(--white);
  background-color: var(--green);
  color: var(--white);
  & .desafiosbtn {
    color: var(--white)
  }
}
#herramientas-btn:hover{
  cursor: pointer;
  border: 2px solid var(--white);
  background-color: var(--orange);
  color: var(--white);
}

@media (min-width:944px){
  .main-container{
    width: 924px;
    display: flex;
    margin-top: 170px;
  }
  article{
    height: 500px;
  }
  p{
    margin-bottom: 80px;
  }
}

/* FONT SIZE */
#logo {
  font-size: 18px;
}
#nav {
  font-size: 18px;
}

/* FOOTER */
footer {
  background-color: var(--pink);
  color: var(--white);
  padding: 3em 1.5em 1.5em;
  margin-top: 4em;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-bottom: 2em;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: var(--white);
}

.footer-section h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
  color: var(--white);
}

.footer-section p {
  color: var(--white);
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5em;
}

.footer-section ul li a {
  color: var(--white);
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--white);
}

.footer-bottom {
  text-align: center;
  padding-top: 2em;
  border-top: 1px solid var(--white);
}

.footer-bottom p {
  color: var(--white);
  font-size: 0.9em;
  margin: 0;
}

@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
