
/* The Basics */

:root{
 --red: hsl(0, 85%, 71%);
  --green: hsl(87, 51%, 69%);
  --orange: hsl(39, 83%, 60%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);  
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
@font-face {
  font-family: 'Epilogue';
  src: url(./Epilogue/Epilogue-VariableFont_wght.ttf);
}

body{
  font-family: 'Epilogue';
  background-color: var(--almostWhite);
  color: var(--black);
  font-size: 18px;
}

/* HEADER */

.submenu-btn{
  background-color: var(--almostWhite);
  border: none;
  cursor: pointer;
  color: var(--mediumGray);
  font-size: 1em;
  font-family: 'Epilogue';
}
.start-btn{
  background-color: var(--almostWhite);
  border: none;
  cursor: pointer;
  color: var(--mediumGray);
  font-size: 1em;
  font-family: 'Epilogue';
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 12px 12px;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 24px;
  & .hamburger-menu{
    /*display: none;*/
    cursor: pointer;
  }
  & nav{
    display: none;
    color: var(--mediumGray);
    & .back{
      background-color: var(--mediumGray);
      opacity: 0.75;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 780px;
    }
    & .front{
      background-color: var(--almostWhite);
      width: 240px;
      position: absolute;
      right: 0;
      top: 0;
      height: 780px;
      padding: 20px;
    }
    & .close-img-container{
      text-align: right;
      cursor: pointer;
    }
    & li{
      list-style: none;
      cursor: pointer;
      margin-bottom: 26px;
    }
    & .cursos-ul, .herramientas-ul{
      margin-left: 28px;
      display: none;
    }
    & .submenu-btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
      width: 110px;
      height: 26px;
    }
  }
}


/* INTRO SECTION */

main{
  display: flex;
  flex-direction: column-reverse;
  & .hero-image{
    width: 100%;
    margin-bottom: 48px;
  }
  & h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 16px;    
  }
  & p{
    text-align: center;
    line-height: 26px;
    color: var(--mediumGray);
    margin-bottom: 0 16px 24px;
    font-size: 1rem;
    padding: 5px 25px 30px 25px;
  }
  & .start-btn{
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    width: 200px;
    height: 48px;
    border-radius: 24px;
    margin: 0 auto;
    display: block;
    margin-bottom: 52px;
    &:hover{
      background-color: var(--almostWhite);
      color: var(--almostBlack);
      border: 1px solid var(--almostBlack);
    }
  }
}


/* Media queries */

@media (min-width: 768px){
  header{
    align-items: center;
    & .hamburger-menu{
      display: none;
    }
    & nav{
      margin-left: 24px;
      display: block;
      width: 100%;
      height: 100%;
      & .back{
        display: none;
      }
      & .front{
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        justify-content: space-between;
      }
      & .close-img-container{
        display: none;
      }
      & ul{
        display: flex;
        align-items: center;
        width: 378px;
        justify-content: space-between;
      }
      & li{
        margin: 0;
      }
      & .submenu-btn{
        margin: 0;
      }
    }
  }
  main{
    & h2{
      font-size: 42px;
    }
    & p{
      width: 600px;
      font-size: 18px;
      margin: 40px auto;
    }
    & .start-btn{
      width: 163px;
      height: 64px;
      font-size: 18px;
      margin-bottom: 46px;
      align-content: center;
    }
    & picture{
      width: 80%;
      margin: 24px auto;
    }
  }
}
@media (min-width: 1024px){
  header{
    border: 3px solid red;
    margin: 21px 40px 67px;
  }
    main{
      border: 3px solid green;
      flex-direction: row;
      & picture{
        border: 3px solid blue;
        width: 500px;
    }
  }
}




























  
/* FEATURES  */



.main-container{
  width: 325px; 
  margin: 87px auto 40px;
  border-radius: 8px;
  overflow: hidden;
}

.main-container article{
  width: 100%;
  height: 540px;
  padding: 48px;
}
#cursos{
  background-color: var(--red);
}
#desafios{
  background-color: var(--green);
}
#herramientas{
  background-color: var(--orange);
}
.main-container img{
  margin-bottom: 36px;
}
.main-container h2{
  color: var(--black);
  font-family: 'M plus', cursive;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.main-container p{
  color: var(--white);
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: 'Gothic A1', sans-serif;
}
#cursos-btn{
  width: 150px;
  height: 40px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--white);
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  color: var(--red);
}
#desafios-btn{
  width: 150px;
  height: 40px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--white);
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  color: var(--green);
}
#herramientas-btn{
  width: 150px;
  height: 40px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--white);
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  color: var(--orange);
}
#cursos-btn:hover{
  cursor: pointer;
  border: 2px solid var(--white);
  background-color: var(--red);
  color: var(--white);
}
#desafios-btn:hover{
  cursor: pointer;
  border: 2px solid var(--white);
  background-color: var(--green);
  color: var(--white);
}
#herramientas-btn:hover{
  cursor: pointer;
  border: 2px solid var(--white);
  background-color: var(--orange);
  color: var(--white);
}

@media (min-width:944px){
  .main-container{
    width: 924px;
    display: flex;
    margin-top: 170px;
  }
  article{
    height: 500px;
  }
  p{
    margin-bottom: 80px;
  }
}

/* FONT SIZE */
#logo {
  font-size: 18px;
}
#nav {
  font-size: 18px;
}
